.BoardList {
    text-align: left;
    padding: 8px;
    width: 100%;
    margin-bottom: 24px;

    h2 {
        margin-bottom: 16px;
    }

    ul {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        gap: 4px;
    }

    .Board {
        justify-content: flex-start;
        width: 100%;
        gap: 4px;
        box-sizing: border-box;

        .SubBoard {
            box-sizing: border-box;
            padding: 4px;
            border-radius: 4px;
            border: 1px solid rgb(168, 130, 76);
            background: #f3dcac;
            flex: 1;
            user-select: none;

            &.remainder {
                background: #cbcbcb;
            }

            &.done {
                background: #bdb19f;
            }
        }
    }
}