#CutScene {
    gap: 24px;
    height: auto;

    .CutBoardSection {
        width: 100%;

        .CutBoardHeader {
            width: 100%;
            margin-bottom: 8px;
            justify-content: space-between;

            input {
                width: 80px;
            }

            .NameInput {
                width: 100%;
                border: none;
                font-size: 18px;
            }
        }

        .CutBoardLine {
            width: 100%;
            justify-content: space-between;

            input:not(.name) {
                width: 80px;
            }
        }

        input {
            border: none;
            border-bottom: 1px solid #b6b6b6;
            color: var(--font-color-dark);
            padding: 4px;
        }
    }

    #AddButton {
        margin-bottom: 180px;
        background: var(--accent);
        padding: 4px;
        border-radius: 12px;
        width: 40px;
        aspect-ratio: 1;
        font-size: 28px;
        transition: background 0.1s;

        &:hover {
            background: var(--accent-dark);
        }
    }
}