* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--font-color-light);
}

ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    display: none;
}

main {
    width: 100dvw;
    height: max(100dvh, auto);
    background: var(--neutral);
}

button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

input {
    background: none;
}

/* Basics section (often re-used classes) */
.card {
    background: var(--foreground);
    padding: 20px;
    border-radius: 24px;
    color: var(--font-color-dark);
    box-shadow: 4px 4px 12px var(--shadow);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.Icon {
    fill: var(--font-color-light);
    width: 100%;
    height: 100%;
    transition: stroke 0.2s, fill 0.2s;
}

#SceneWrapper {
    width: 100%;
    height: 100%;
    padding: 14dvh 4dvw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Scene {
    width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    justify-content: space-between;
    padding: 4dvh 12dvw;
}

.hidden {
    visibility: hidden !important;
}