.CutListBody {
	--grid: 2fr 1fr 2fr 8fr 1fr;
	width: 100%;
	padding: 20px 0px;

	.CutListHeader {
		display: grid;
		grid-template-columns: var(--grid);
		width: 100%;
		justify-content: space-between;
		text-align: left;
	}

	.CutListLines {

		.CutListLine {
			display: grid;
			grid-template-columns: var(--grid);
			width: 100%;
			justify-content: space-between;

			input:not(.name) {
				width: 5ch;
			}

			&:last-of-type {
				margin-bottom: 20px;
			}
		}
	}

	input {
		border: none;
		border-bottom: 1px solid #b6b6b6;
		color: var(--font-color-dark);
		padding: 4px;
	}

	.add {
		font-size: 20px;
	}
}